body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

#title {
    text-align: center;
}

#stocks {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
/*     width: tbd */
}

#stocks td, #stocks th {
    border: 1px solid #ddd;
    padding: 8px;
}
#stocks tr {background-color: yellowgreen;}

#stocks tr:nth-child(even) {background-color: blueviolet;}

#stocks tr:hover {background-color: orangered;}

#stocks th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: palevioletred;
    color: white;
}